#text {
	-fx-font-size: 50px;
	-fx-font-family: sans-serif;
	-fx-fill: lightsalmon;
	-fx-stroke: darkblue;
	-fx-stroke-width: 2;
	-fx-underline: true;
	-fx-font-weight: bold;
	-fx-font-style: italic;
}